ion-slides{
    height: 100%;

    .slide-inner{
        width: 75%;
        color: #fff;
        background-color: #021f33;
        border-radius: 10px;
    }

}
.container{
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    &.top{
        top: 5%;
    }
    &.bottom{
        bottom: 30%;
    }
}


.ocean{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background-color: #3d9ddd;

 .waves{
     position: absolute;
     top: -100px;
     left: 0;
     right: 0;
     height: 100px;
     background-image: url('/assets/image/waves.png');
     background-size: contain;
     transition: all 0.5s;
 }
 span{
     position: absolute;
     left: 0;
     right: 0;
     bottom: 20%;
     width: 75%;
     margin: 0 auto;
     color: #fff;
 }
}